nav {
    height: 150px;
    background-image: linear-gradient(rgb(11, 14, 14) 3rem, rgba(11, 14, 14, 0));
    background-color: initial;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
    .nav-bar {
        height: 60px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $text-prymary-color;
        a {
            height: 2rem;
            align-items: center;
            color: $link-color;
            transition: color .4s ease-out;
            line-height: 1;
            &:hover {
                color: $link-hover-color;
            }
        }
        .right {
            ul {
                li {
                    display: inline;
                    margin-left: 2rem;
                    &:last-of-type {
                        margin-left: 1rem;
                    }
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.hero {
    height: 100vh;
    width: 100%;
    color: $text-prymary-color;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    .text {
        margin-top: 8rem;
        p {
            font-size: 8rem;
            font-weight: bolder;
            &:last-of-type {
                font-size: 2rem;
                text-align: end;
            }
            &:first-of-type {
                color: $link-hover-color;
            }
        }
    }
    .img {
        height: 100vh;
        position: relative;
        img {
            height: 100%;
            position: absolute;
            right: 0;
            top: -10%;
            z-index: -1;
        }
    }
}