<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="image" property="og:image" content="https://i.ibb.co/CKzwjvp/meta-linkedin.png">
    <meta name="description" content="Full Stack Web Developer">
    <meta name="keywords" content="Full Stack Web Developer">
    <meta name="author" content="Gabriele Amore">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.ibb.co/DQ43f3G/logo.png" />
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Amore Gabriele | Web Developer</title>
</head>
<body>
    <div id="app">

        <header>
            <nav>
                <div id="home" class="nav-bar">
                    <div class="left">
                        <img @click="tab='home', scroll()" src="https://i.ibb.co/DQ43f3G/logo.png" alt="">
                    </div>
                    <div class="right">
                        <ul>
                            <li @click="tab='about', scroll()"><a class="ciao" :class="{active : scrollPosition > 750 && scrollPosition < 1249}">ABOUT</a></li>
                            <li @click="tab='works', scroll()"><a :class="{active : scrollPosition > 1250 && scrollPosition < 1899}">WORKS</a></li>
                            <li @click="tab='skills', scroll()"><a :class="{active : scrollPosition > 1900 && scrollPosition < 2200}">SKILLS</a></li>
                            <li @click="tab='contact', scroll()"><a :class="{active : scrollPosition > 2201}">CONTACT</a></li>
                            <li>
                                <a href="https://www.linkedin.com/in/gabriele-amore/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/gabbobazinga" target="_blank"><i class="fab fa-github-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="hero">
                    <div class="text-test">
                        <div class="title">
                            <span class="block"></span>
                            <h1>Hello<span></span></h1>
                        </div>
                        <div class="role">
                            <div class="block"></div>
                            <h1>I am <span>Gabriele</span></h1>
                        </div>
                        <div class="subtitle">
                            <h4 class="wordCarousel">
                                <span>Developer.</span>
                                <div>
                                    <ul class="flip3">
                                        <li>Front-End</li>
                                        <li>Web</li>
                                        <li>Back-End</li>
                                    </ul>
                                </div>
                            </h4>
                        </div>
                    </div>
                    <div class="img">
                        <img src="https://i.ibb.co/Xxx6bfZ/half-face.png" alt="">
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section id="about" class="about">
                <div class="container">
                    <div class="left">
                        <div class="img-about">
                            <div class="box-img">
                                <img src="https://i.ibb.co/VDmqD2Q/foto-cv-quadrata.png" alt="">
                            </div>
                            <h1>About.</h1>
                        </div>
                        <div class="text">
                            <p>
                                Da sempre amante della tecnologia e dell'arte, terminati gli studi artistici mi sono dedicato completamente all'informatica, apprezzando particolarmente il settore in costante evoluzione, invogliandomi ad essere sempre aggiornato sulle novità che lo riguardano.
                                <br><br>
                                Il mondo della programmazione rispecchia perfettamente le mie passioni permettendomi una continua crescita personale e professionale. Le parole chiave di questo lavoro sono <span>unicità</span>, <span>creatività</span> e <span>libertà</span> con la consapevolezza che ci sarà sempre qualcosa di nuovo da imparare.
                                <br><br>
                                <span>
                                    "𝑳𝒊𝒇𝒆 𝒊𝒔 𝒈𝒓𝒐𝒘𝒕𝒉. 𝒀𝒐𝒖 𝒈𝒓𝒐𝒘 𝒐𝒓 𝒚𝒐𝒖 𝒅𝒊𝒆." <br> <span>𝑃ℎ𝑖𝑙 𝐾𝑛𝑖𝑔ℎ𝑡</span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="rectangular-form"></div>
                        <div class="rectangular-form-down"></div>
                    </div>
                </div>
    
            </section>
            <section id="works" class="work">
                <h1>Works.</h1>
                <div class="card-box">
                    <template v-for="card in cards"> 
                        <div class="card" :style="{backgroundImage:`url(${card.pathImg})`}">
                            <div class="fix-bg">
                                <div class="details">
                                    <h5>Info.</h5>
                                    <p> {{ card.info }} </p>
                                    <div class="button">
                                        <button class="web-btn" v-if="card.webUrl"><a v-if :href="card.webUrl" target="blank">WEB</a></button>
                                        <button v-if="card.codeUrl"><a v-if :href="card.codeUrl" target="blank">CODE</a></button>
                                    </div>
                                </div>
                            </div>
                            <div class="info">
                                <h3> {{ card.title }} </h3>
                                <ul>
                                    <template v-for="tag in card.tags">
                                        <li> {{ tag }} </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                    </template>
                </div>
            </section>
            <section id="skills" class="skills">
                <h1>Skills.</h1>
                 <div class="list-skills">
                     <div class="left">
                         <h1>Front-end. <p>text-text</p></h1>
                         
                         <div class="row">
                             <div class="left">
                                 <ul>
                                     <li>HTML5</li>
                                     <li>CSS3</li>
                                     <li>JavaScript</li>
                                     <li>Vue</li>
                                 </ul>
                             </div>
                             <div class="right">
                                 <ul>
                                     <li>JQuery</li>
                                     <li>SASS</li>
                                     <li>Bootstrap</li>
                                     <li>Laravel Mix</li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     <div class="div-hr"></div>
                     <div class="right">
                         <h1>Back-end. <p>text-text</p></h1>
                         <div class="row">
                             <div class="left">
                                 <ul>
                                     <li>PHP</li>
                                     <li>Laravel</li>
                                 </ul>
                             </div>
                             <div class="right">
                                 <ul>
                                     <li>MySql</li>
                                     <li>PHPMyAdmin</li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="logos">
                     <ul>
                         <li>
                             <img src="https://i.ibb.co/Smz7w32/html.png" alt="">
                         </li>
                         <li>
                             <img src="https://i.ibb.co/SXdH1yR/css.png" alt="">
                         </li>
                         <li>
                             <img src="https://i.ibb.co/SnsMxwB/js.png" alt="">
                         </li>
                         <li>
                             <img src="https://i.ibb.co/2Pz9yF8/vue.png" alt="">
                         </li>
                         <li>
                             <img src="https://i.ibb.co/tc1nmtX/jquery.png" alt="">
                         </li>
                         <li>
                             <img src="https://i.ibb.co/S7VZMr2/sass.png" alt="">
                         </li>
                         <li>
                             <img src="https://i.ibb.co/rGkrJJD/bootstrap.png" alt="">
                         </li>
                         <li>
                             <img src="https://i.ibb.co/K7xSPc0/php.png" alt="">
                         </li>
                         <li>
                             <img src="https://i.ibb.co/D4JK1rQ/mysql.png" alt="">
                         </li>
                         <li>
                             <img src="https://i.ibb.co/B3pgt5D/laravel.png" alt="">
                         </li>
                         <li>
                             <img src="https://i.ibb.co/b3Y0jFz/phpmyadmin.png" alt="">
                         </li>
                         <li>
                             <img src="https://i.ibb.co/hgtyhRm/github.png" alt="">
                         </li>
                     </ul>
                 </div>
            </section>
            <section id="contact" class="contact">
                <h1>Contact me.</h1>
                <div class="container">
                    <div class="email-box">
                        <ul>
                            <li>
                                <a href="mailto:amoregabriele.95@gmail.com" target="_blank"><i class="fas fa-at"></i>If you'd like to get in touch.</a>
                            </li>
                            <hr>
                            <li>
                                <a href="https://www.linkedin.com/in/gabriele-amore/" target="_blank"><i class="fab fa-linkedin"></i>Linkedin</a>
                            </li>
                            <hr>
                            <li>
                                <a href="https://github.com/gabbobazinga" target="_blank"><i class="fab fa-github-square"></i>Github</a>
                            </li>
                            <hr>
                            <li>
                                <a href="https://i.ibb.co/0nbZPcG/CV-amoregabriele.png" download="CV-amore-gabriele"><i class="fas fa-download"></i>Curriculum Vitae</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mapouter">
                        <h2>I'm here!</h2>
                        <div class="gmap_canvas">
                            <iframe width="500" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=Torino&t=&z=5&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                            </iframe>
                                <a href="https://www.whatismyip-address.com"></a><br>
                            <style>
                                .mapouter{position:relative;text-align:right;height:600px;width:600px;}
                            </style>
                            <a href="https://www.embedgooglemap.net"></a>
                            <style>.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:200px;}</style>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
        <footer>
            <div class="container">
                <div class="left">
                    <span> Copyright <i class="far fa-copyright"></i> Gabriele Amore 2021</p>
                </div>
                <div class="right">
                    <span>Handcrafted with <i class="far fa-heart"></i></span>
                </div>
            </div>
        </footer>
    <script src="app.js" charset="utf-8"></script>
</body>
</html>